@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins", system-ui, sans-serif;
    }
}

.btnPrimary {
    @apply flex px-6 py-4 justify-center items-center rounded-[10px] bg-[#202020] text-[#FDFBFA] text-[16px] leading-none font-semibold hover:bg-slate-500;
}

.btnActive {
    @apply flex px-7 py-4 items-center justify-center rounded-[20px] bg-[#FC8019] text-white text-base font-medium
}

.btnSecondary {
    @apply flex px-7 py-4 items-center justify-center rounded-[20px] border-[1.5px] border-[#FC8019] bg-white text-black text-base font-medium
}

@keyframes l31 {

    0%,
    20% {
        width: 45px;
        height: 45px;
    }

    90%,
    100% {
        width: 65px;
        height: 65px;
    }
}

.loader {
    --c: no-repeat linear-gradient(orange 0 0);
    background:
        var(--c) 0 0,
        var(--c) 0 50%,
        var(--c) 0 100%,
        var(--c) 50% 0,
        var(--c) 50% 50%,
        var(--c) 50% 100%,
        var(--c) 100% 0,
        var(--c) 100% 50%,
        var(--c) 100% 100%;
    background-size: 16px 16px;
    animation: l31 .5s infinite alternate;
}